@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;700;800;900&family=Frank+Ruhl+Libre:wght@400;700;900&display=swap');
html { scroll-behavior: smooth; }
body { font-family: 'Heebo', sans-serif; }
h1,h2,h3,h4 { font-family: 'Frank Ruhl Libre', 'Heebo', serif; }
section { scroll-margin-top: 70px; }
